<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>

  <title>Error</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="bi bi-house-door"></i> All Talks
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/tracks">
            <i class="bi bi-list-ol"></i> Tracks
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">
      <i class="bi bi-exclamation-triangle"></i> An error has occurred!
    </h4>
    <p>
      <a href="/">Go back to main page.</a>
    </p>
  </div>
</div>

</body>
</html>