<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/webjars/bootstrap-icons/font/bootstrap-icons.css"/>
  <title>Conference Track Management</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/">
            <i class="bi bi-house-door"></i> All Talks
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tracks">
            <i class="bi bi-list-ol"></i> Tracks
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" th:if="${message}">
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">
      <i class="bi bi-exclamation-triangle"></i> List was updated
    </h4>
    <p th:text="${message}">
      Talk was added.
    </p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>

<div class="container">
  <div class="container-fluid bg-light p-5">
    <h1>Conference Track Management</h1>
    <a class="btn btn-primary" href="/tracks">Split talks into tracks</a>
  </div>

  <h3 class="py-2">Add new talk</h3>
  <form
      class="row gy-2 gx-3 align-items-center"
      method="post"
      action="#"
      th:action="@{/addTalk}"
      th:object="${talkForm}"
  >
    <div class="row">
      <div class="col-auto">
        <div class="form-floating">
          <input
              type="text"
              class="form-control text-center"
              id="title"
              placeholder="title"
              th:field="*{title}"
              th:classappend="${#fields.hasErrors('title')} ? 'is-invalid' : ''"
          >
          <div
              class="invalid-feedback"
              th:if="${#fields.hasErrors('title')}"
              th:errors="*{title}"
          ></div>
          <label for="title">Enter a title</label>
        </div>
      </div>

      <div class="col-auto">
        <div class="input-group">
          <div class="form-floating">
            <input
                type="text"
                class="form-control text-center"
                id="duration"
                placeholder="Duration"
                th:field="*{duration}"
                th:classappend="${#fields.hasErrors('duration')} ? 'is-invalid' : ''"
            />
            <label for="duration">Enter a duration</label>
            <div
                class="invalid-feedback"
                th:if="${#fields.hasErrors('duration')}"
                th:errors="*{duration}"
            ></div>
          </div>
          <span class="input-group-text">Minutes</span>
        </div>
      </div>
    </div>

    <div class="row justify-content-end">
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Add talk</button>
      </div>
    </div>
  </form>

  <hr>

  <form
      class="row gy-2 gx-3 align-items-center"
      method="post"
      action="#"
      th:action="@{/addTalkByInputString}"
      th:object="${inputStringForm}"
  >

    <div class="row">
      <div class="col-4">
        <div class="form-floating">
          <input
              type="text"
              class="form-control text-center"
              id="inputString"
              placeholder="inputString"
              th:field="*{inputString}"
              th:classappend="${#fields.hasErrors('inputString')} ? 'is-invalid' : ''"
          >
          <div
              class="invalid-feedback"
              th:if="${#fields.hasErrors('inputString')}"
              th:errors="*{inputString}"
          ></div>
          <label for="inputString">Input String</label>
        </div>
      </div>
    </div>

    <div class="row justify-content-end">
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Add talk</button>
      </div>
    </div>
  </form>

  <hr>

  <table class="table caption-top my-4">
    <caption>List of talks</caption>
    <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Duration</th>
      <th scope="col">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="talk,index: ${allTalks}">
      <th scope="row" th:text="${index.count}">1</th>
      <td th:text="${talk.getTitle()}">Overdoing it in Python</td>
      <td th:text="|${talk.getDuration()} min|">45min</td>
      </td>
      <td>
        <form method="post"
              action="#" th:action="@{/deleteTalk/{id}(id=${talk.getId()})}"
              class="text-center">
          <button type="submit" class="btn btn-danger">
            <i class="bi bi-trash"></i> Delete
          </button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>