<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/webjars/bootstrap-icons/font/bootstrap-icons.css"/>
  <title>Tracks</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="bi bi-house-door"></i> All Talks
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/tracks">
            <i class="bi bi-list-ol"></i> Tracks
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="container-fluid bg-light p-5">
    <h1>Tracks</h1>
    <a class="btn btn-primary" href="/">Add new tracks or delete tracks</a>
    <a class="btn btn-info mx-3" href="/randomOrder"><i class="bi bi-arrow-clockwise"></i> Random
      Order</a>
  </div>

  <h3 th:if="${tracksWithTalks.isEmpty()}" style="color: red">
    There are no talks!
  </h3>

  <table class="table caption-top my-4" th:each="tracks,index: ${tracksWithTalks}">
    <caption th:text="|Track ${index.count}|">Track 1</caption>
    <thead class="table-dark">
    <tr>
      <th scope="col">Time</th>
      <th scope="col">Title</th>
      <th scope="col">Duration</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="talks,index: ${tracks}">
      <td class="text-center" th:text="${talks.get(0)}">10:45 AM</td>
      <td th:text="${talks.get(1)}">Overdoing it in Python</td>
      <td th:text="${talks.get(2).isBlank()} ? '' : ${talks.get(2)} + ' min'">30 min</td>
      </td>
    </tr>
    </tbody>
  </table>

</div>

<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>